<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img alt="My photo" src="{{site.profilepic}}">
        </div>

        <h1>
            <span class="site-title">[{{site.username}}]</span>
        </h1>

        <div class="icons-home">
            <a aria-label="Send email" title="Send me a e-mail" href="mailto:{{site.email}}">
                <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
            </a>

            <a aria-label="My Github" title="Show my projects" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
           </a>

            <a aria-label="My Resume" title="Show my resume" target="_blank" href="">
                <svg class="icon icon-resume"><use xlink:href="#icon-resume"></use></svg>
           </a>
        </div>

        <ul class="recent">
            <p>Recent projects:</p>
             {% for project in site.projects limit:3%}
                <li>
                    <a title="Show my recent project" href="{{ project.url}}">
                        <h2 class="post-title" itemprop="name">{{ project.name }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>

    </div>
    {% include menu-search.html %}
</header>
